* {
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

:root {
  --main-blue: #009dff;
  --alt-blue: #00B7FF;
  --hover: #91e0ff;
}

body {
  height: 100vh;
  margin: 0;
  background-color: rgb(14, 17, 22);
  color: rgb(48, 53, 54);
  font: 14px 'Poppins', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vmin;
}

a {
  color: var(--alt-blue);
  text-decoration: none;
}

span {
  color: rgb(73, 78, 79);
}

a:hover {
  color: var(--hover);
}

p {
  display: inline-block;
}

.delete {
  display: inline-block;
  margin-right: 10px;
}
	
.delete button {
  color: var(--main-blue);
  border: 1px solid rgb(20, 25, 28);
  padding: .8vmin;
}
	
li {
  list-style: none;
}

#nav-bar {
  display: flex;
  justify-content: flex-start;
  height: 10vmin;
  background-color: rgb(20, 23, 26);
}

#nav-bar > a {
  color: var(--main-blue);
}

#nav-bar div {
  font-size: 2vmin;
  margin: 2vmin;
  padding: 2vmin;
}

#nav-bar div:hover {
  color: var(--hover);
}

input[type="text"] {
  background-color: rgb(21, 26, 31);
  border: 1px solid var(--main-blue);
  color: var(--alt-blue);
  border-radius: 5px;
  padding: 5px;
}

button {
  padding: 5px;
  font-size: 12px;
  margin-left: 5px;
  border: 1px solid var(--main-blue);
  background-color: rgb(20, 25, 28);
  color: #009dff;
  border-radius: 5px;
}

button:hover {
  background-color:var(--main-blue);
  color: rgb(20, 25, 28);
  border: rgb(20, 25, 28);

}

h1 {
  letter-spacing: 3px;
  font-size: 7vmin;
  margin-top: 0;
  /* font-size: 5vmin; */
  color: rgb(30, 35, 37);
}

h2 {
  font-size: 5vmin;
}

h3 {
  font-size: 2vmin;
}

.answer {
  font-size: 2vmin;
}

input[type="checkbox"] {
  display: relative;
  top: .55vmin;
  left: .5vmin;
  margin: 0;
}

.switch {
  appearance: none;
  width: 4.5vmin;
  height: 2.5vmin;
  position: relative;
  border-radius: 50px;
  background-color: rgb(20, 23, 26);
  border: 1px solid gray;
}

.switch:before {
  box-sizing: border-box;
  content: "";
  position: absolute;
  width: 1.8vmin;
  height: 1.8vmin;
  border: 1px solid gray;
  left: .3vmin;
  top: .2vmin;
  border-radius: 50%;
  transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}

.switch:checked {
  background-color: rgb(20, 25, 28);;
  border: .2vmin solid var(--alt-blue);
}

.switch:checked:before {
  left: 2.1vmin;
  background-color: rgb(20, 25, 28);
  border: .2vmin solid var(--alt-blue);
  outline: none;
}


